.App {
  text-align: center;
}

@import '~antd/dist/antd.css';

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pagination li a {
	border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    height: 2.25rem;
    min-width: 2.25rem;
    vertical-align: middle;
    padding: .5rem;
    text-align: center;
    position: relative;
    font-size: 1rem;
    line-height: 1rem;
	font-weight: 400;
	border: 0;
}
.pagination li.active a {
  z-index: 1;
  color: #fff;
    background-color: #5867dd;
    border-color: #5867dd;
}
.pagination li {
    margin-left: .4rem;
}
.pagination li.disabled a {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.pagination {
  float: right;
}
.m-portlet .m-portlet__body {
  padding: 3.2rem 2.2rem!important;
}
